.dropDownContainer {
    position: relative;
    padding: 0.1em;
}

.dropDownHeader {
    margin-bottom: 0.8em;
    padding-top: 0.4em;
    padding-left: 1em;
    padding-bottom: 0.4em;
    font-weight: 500;
    font-size: 1.3rem;
    color: rgb(80, 80, 80);
    background: #ffffff;
    border-radius: 10px;
    border: 4px solid #505050;
    cursor: pointer;
    max-width: 300px;
}

.dropDownListContainer {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    list-style: none;
    border: 2px solid #e5e5e5;
    border-top: none;
    box-sizing: border-box;
    color: #505050;
    font-size: 1.3rem;
    font-weight: 500;
    background: #ffffff;
    z-index: 1;
    width: 328px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.listItem {
    padding: 0.2em;
    border-radius: 10px;
    margin: 0.1em;
    &:hover {
        background: rgba(80, 80, 80, 0.4);
    }
}
