.table-container {
    position: absolute;
    top: 70%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 1000px; 
    table-layout: fixed;
    border-collapse: collapse;
}

.expenseTable {
    width: 100%;
    border-collapse: collapse;
}
/*
th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; 
    max-width: 150px; 
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; 
    max-width: 150px; 
    font-size: 16px;
}*/



.table-container tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

tbody::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.table-container thead tr {
   display: block;
   width: 100%;
}

.table-container thead {
  background: black;
  color:#fff;
}

.table-container th{
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px;  
    max-width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
    color: black;
} 
.table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; 
    max-width: 150px; 
    font-size: 16px;
}

.category {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

.comment, .comment-content{
    max-width: 400px; /* Максимальная ширина комментария */
    max-height: 65px; /* Максимальная высота ячейки */
    word-wrap: break-word; /* Разрывать длинные слова */
    overflow: hidden; /* Обрезаем текст, который выходит за границы ячейки */ 
}

.comment {
    min-width: 400px !important;
    width: 400px; 
}
