.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: 1000px; 
}

.expenseTable {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; 
    max-width: 150px; 
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 150px; 
    max-width: 150px; 
    font-size: 16px;
}

.category {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

.comment, .comment-content{
    max-width: 300px; /* Максимальная ширина комментария */
    max-height: 65px; /* Максимальная высота ячейки */
    word-wrap: break-word; /* Разрывать длинные слова */
    overflow: hidden; /* Обрезаем текст, который выходит за границы ячейки */ 
}

.comment {
    width: 300px; 
}
