:root {
  --h1-font-size: 3vw; /* 3% of viewport width */
  --button-font-size: 2vw; /* 2% of viewport width */
  --button-padding: 1vw; /* 1% of viewport width */
  --button-top: 40vh; /* 20% of viewport height */
  --button-left-addExpense: 65vw; /* 65% of viewport width */
  --button-left-addTag: 48vw; /* 48% of viewport width */
}

h1 {
  font-size: var(--h1-font-size);
}

.addExpenseButton, .addTagButton {
  background-color: #505050;
  color: #fff;
  border: none;
  padding: var(--button-padding);
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--button-font-size);
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  top: var(--button-top);
}

.addExpenseButton {
  left: var(--button-left-addExpense);
}

.addTagButton {
  left: var(--button-left-addTag);
}

.addExpenseButton:hover, .addTagButton:hover {
  background-color: #3b3b3b;
  transform: translateY(-4px); /* Move button 2px up on hover */
}